<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <connectionStrings>
      <add name="DevConn" connectionString="Data Source=localhost;Initial Catalog=ApkTest;User ID=sa;Password=password;Connection Timeout=30000;Min Pool Size=100" providerName="System.Data.SqlClient" />
      <add name="DevConnBoc" connectionString="Data Source=localhost;Initial Catalog=ApkTestBoc;User ID=sa;Password=password;Connection Timeout=30000;Min Pool Size=100" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="SmaliParsingTrheadCount" value="8"/>
      <add key="SmaliParsingTrheadWorkLoadSize" value="100"/>
      <add key="TempDriveLocation" value="T:\"/>
      <add key="ApkToolLocation" value=""/>
    </appSettings>
</configuration>
